{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Login</h2>
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                  {% include '_form_field.html' %}
                {% endfor %}
                <input type="submit" value="Login" class="btn btn-primary">
                <a class="pull-right" href="{% url 'profile:password_reset' %}">Forgotten your password?</a>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <br>

        </div>
    </div>
{% endblock content %}
