{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Confirm new password</h2>
        {% if validlink %}
        <p>
          {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>

        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            {% include '_form_field.html' %}
          {% endfor %}
        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary">
        </form>

        {% else %}

        <p>
          {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </p>

        {% endif %}
    </div>
</div>

{% endblock %}
