{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Reset password</h2>
            <form method="post" action="{% url 'profile:password_reset' %}">
                {% csrf_token %}
                {% for field in form %}
                    {% include '_form_field.html' %}
                {% endfor %}
                <input type="submit" value="Reset password" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock content %}
