{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Reset password</h2>
        <p>
            {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
        </p>

        <p>
            {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
        </p>
    </div>
</div>

{% endblock %}
