{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Change password</h2>
            <form method="post" action="{% url 'profile:password_change' %}">
                {% csrf_token %}
                {% for field in form %}
                    {% include '_form_field.html' %}
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock content %}
