{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Change password</h2>
        <p>{% trans 'Your password was changed.' %}</p>
    </div>
</div>
{% endblock %}
