{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>User profile</h3>
            <h2>{{ profile.user.username }}</h2>
            <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
            <h4>{{ profile.user.email }}</h4>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}">
            {% endif %}
        </div>
    </div>

{% endblock content %}
