{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Email confirmed</h2>
        <p>
            {% trans "Your email has been confirmed. You may go ahead and log in now." %}
            <a href="{% url 'profile:login' %}">{% trans 'Click here to log in.' %}</a>
        </p>
    </div>
</div>

{% endblock %}
