{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Update profile</h2>
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                {% include '_form_field.html' %}
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock content %}
