{% extends 'base.html' %}
{% load get_weight get_price %}
{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ luggage }}</h2>
                </div>
                <div class="panel-body">
                    <p>User: <b>{{ luggage.user }}</b></p>
                    <p>From: <b>{{ luggage.departure }} - {{ luggage.get_departure_date }}</b></p>
                    <p>To: <b>{{ luggage.arrival }} - {{ luggage.get_arrival_date }}</b></p>
                    <p>Size: <b>{{ luggage.size }}</b></p>
                    <p>Weight: <b>{% get_weight luggage %}</b></p>
                    <p>Price: <b>{% get_price luggage %}</b></p>
                    <p>Note:</p>
                    <p>{{ luggage.note }}</p>
                </div>
                {% if luggage.user == user %}
                    <div class="panel-footer">
                        <a href="{{luggage.get_update_url}}" class="btn btn-default" role="button">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                        &nbsp;
                        <a href="{{luggage.get_delete_url}}" class="btn btn-default" role="button">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
