{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <form method="get" action="">

                {% include '_form_field.html' with field=form.departure %}
                {% include '_date_field.html' with field=form.departure_date %}
                {% include '_form_field.html' with field=form.arrival %}
                {% include '_date_field.html' with field=form.arrival_date %}
                {% include '_form_field.html' with field=form.size %}
                {% include '_form_field.html' with field=form.weight %}
                <input type="submit" value="Filter" class="btn btn-primary">

            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pull-left">{{ title }}</h2>
                    <h2>
                        <a href="{% url 'luggage:luggage_create' %}" class="btn btn-success pull-right">
                           <span class="glyphicon glyphicon-plus"></span> Add Luggage
                        </a>
                    </h2>
                </div>
            </div>
            <br>
            {% for luggage in luggage_list %}
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h2 class="panel-title text-muted">
                            <a href="{{luggage.get_detail_url}}">
                                <span class="glyphicon glyphicon-briefcase"></span> {{ luggage }}
                            </a>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <h6>From: <b>{{ luggage.departure }} - {{ luggage.get_departure_date }}</b></h6>
                        <h6>To: <b>{{ luggage.arrival }} - {{ luggage.get_arrival_date }}</b></h6>
                        <h6>User: <b>{{ luggage.user }}</b></h6>
                        <i class="pull-right small">Posted on {{ luggage.created }}</i>
                    </div>
                    {% if luggage.user == user %}
                    <div class="panel-footer">
                        <a href="{{luggage.get_update_url}}" class="btn btn-warning" role="button">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                        &nbsp;
                        <a href="{{luggage.get_delete_url}}" class="btn btn-danger" role="button">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                    </div>
                    {% endif %}
                </div>

            {% endfor %}
            <div class="row">
                <div class="col-md-12 text-center">
                    {% bootstrap_paginate page_obj %}
                </div>
            </div>
        </div>
    </div>
    {% include '_maps_autocomplete.html' %}
{% endblock content %}
