{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Delete: {{ luggage }}</h2>
                </div>
                <div class="panel-body">
                    <p>Are you sure?</p>
                </div>
                {% if luggage.user == user %}
                    <div class="panel-footer">
                        <form method="post" action="">
                            {% csrf_token %}
                            <a href="{% url 'luggage:luggage_list' %}" class="btn btn-default" role="button">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </a>
                            &nbsp;
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
