{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Create luggage</h2>
            <form method="post" action="">
                {% csrf_token %}

                {% include '_form_field.html' with field=form.departure %}
                {% include '_date_field.html' with field=form.departure_date %}
                {% include '_form_field.html' with field=form.arrival %}
                {% include '_date_field.html' with field=form.arrival_date %}
                {% include '_form_field.html' with field=form.size %}
                {% include '_form_field.html' with field=form.weight %}
                {% include '_form_field.html' with field=form.weight_mu %}
                {% include '_form_field.html' with field=form.price %}
                {% include '_form_field.html' with field=form.currency %}
                {% include '_form_field.html' with field=form.note %}

                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
    {% include '_maps_autocomplete.html' %}
{% endblock content %}
