{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Luggageshare{% endblock title %}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/gif" href="{% static 'img/favicon.gif' %}">

    {% block css %}
      <!-- bower:css -->
      <!-- endbower -->
      <!-- inject:css -->
      <link rel="stylesheet" href="{% static 'prod/bundle.css' %}">
      <!-- endinject -->
    {% endblock %}

  </head>

  <body>

    <header>
      {% block header %}
      {% include '_navbar.html' %}
      {% endblock header %}
    </header>

    {% if messages %}
      <div class="messages container">
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <main class="container">

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </main>

    <footer>

    </footer>

    {% block javascript %}
      <!-- bower:js -->
      <!-- endbower -->
      <!-- inject:js -->
      <script src="{% static 'prod/bundle.js' %}"></script>
      <!-- endinject -->
    {% endblock javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBaXIOaaEZFH39NJfcLO61yb3uUMk5vII&libraries=places&callback=initAutocomplete&language=en" async defer></script>
  </body>
</html>
