<div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
    <label class="control-label" for="{{field.id_for_label }}">{{field.label}}</label>
    <div class='input-group date' id="{{field.id_for_label }}">
        <input type='text' class="form-control" name="{{field.name}}" value="{{ field.value|date:'d/m/Y H:i' }}">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    {{ field.errors }}
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    $('#{{field.id_for_label}}').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      sideBySide: true,
    });
    {% if field.value %}
        var dateNow = new Date("{{ field.value|date:'F d, Y H:i:s' }}");
        $('#{{field.id_for_label}}').data("DateTimePicker").date(dateNow);
    {% endif %}
  });
</script>
