{% load addcss %}

<div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
  <label class="control-label" for="{{field.id}}">{{field.label}}</label>
  {{ field|addcss:"form-control" }}
  {% if field.errors %}
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {{ field.errors }}
  {% endif %}
</div>
