<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'luggage:luggage_list' %}">LuggageShare</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'luggage:luggage_list' %}">Luggage</a></li>
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'profile:profile' %}">Profile</a></li>
              <li><a href="{% url 'profile:update' %}">Update profile</a></li>
              <li><a href="{% url 'profile:preferences' %}">Profile preferences</a></li>
              <li><a href="{% url 'profile:password_change' %}">Change password</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'luggage:luggage_user_list' %}">My luggage</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'profile:logout' %}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{% url 'profile:login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'profile:register' %}">Register</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
