{% extends 'base.html' %}

{% block header %}{% endblock header %}

{% block css %}
<link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
<style media="screen">
  body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    overflow: hidden;
    background-attachment: scroll;
    background-image: url("../static/cover.jpg");
    background-position: center center;
    background-repeat: none;
    background-size: cover;
  }
  h1 {
    font-size: 50px;
    color: #B1303C;
  }
</style>
{% endblock css%}

{% block content %}
<h1>Luggage Share</h1>
<h2>Coming soon...</h2>
{% endblock content %}
